.portfolio {

    &__tilte-container {
        width: 100%;
        height: 100%;
        margin-bottom: 3rem;
        @include respond(desktop) {
            margin-bottom: 6rem
        }
    }

    &__title,
    &__description {
        @include respond(desktop) {
            text-align: left;
        }
    }

    // Portfolio Link    
    &-works {

        width: 100%;
        height: 100%;

        &__list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 1rem;
            margin-bottom: 2rem;

            @include respond(tab) {
                grid-template-columns: repeat(3, 1fr);
                row-gap: 2rem;
                margin-bottom: 4rem;
            }

            @include respond(desktop) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &__link {
            display: inline-block;
            font-weight: 500;
            text-transform: capitalize;

            @include respond(desktop) {
                margin-bottom: 4rem;
            }

            &:hover {
                transition: all .4s;
                color: var(--color-primary);
            }

            &--active,
            &--active:active,
            &--active:focus {

                color: var(--color-primary);

                &::after {
                    content: '';
                    display: block;
                    width: calc(100% + 2rem);
                    height: .5rem;
                    background-color: var(--color-primary);
                }
            }
        }

    // Portfolio Images
        &__images {
            @include respond(desktop) {
                grid-column: 2 / -1;
                grid-row: 1 / -1;
            }
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            width: 100%;
            margin-bottom: 3rem;

            @include respond(tab) {
                margin-bottom: 6rem;
            }

            @include respond(desktop) {
                max-width: 60rem;
                margin: 0 auto;
                margin-bottom: 6rem;
            }
        }

        &__photo {
            width: 100%;
            height: 100%;
            box-shadow: 0 1rem 3rem 0 rgba(197, 195, 249, .4);
            transition: all .4s;

            &:hover {
                outline: .8rem solid var(--color-primary);
                padding: .8rem;
                transform: scale(1.05);

                @include respond(desktop) {
                    outline: 1rem solid var(--color-primary);
                    padding: 1rem;
                }
            }
        }

        &__img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__images:hover &__photo:not(:hover) {
            transform: scale(.92);
        }

    }
}